@model DataAccess.Entities.Publisher

<h1>Create new Publisher</h1>

<form asp-action="Create" method="post" class="row g-3">
	<div class="col-md-12">
		<label asp-for="PublisherName" class="form-label">Publisher Name</label>
		<input asp-for="PublisherName" type="text" class="form-control" placeholder="Enter Publisher Name">
		<span class="form-text text-danger" asp-validation-for="PublisherName"></span>
	</div>

	<div class="col-6">
		<button type="submit" class="btn btn-primary w-100">Create</button>
	</div>
	<div class="col-6">
		<a asp-action="Index" class="btn btn-primary w-100">Back</a>
	</div>
</form>

<h3 class="mt-5">All Publishers:</h3>

@if (ViewBag.Publishers != null && ((List<DataAccess.Entities.Publisher>)ViewBag.Publishers).Any())
{
	<ul class="list-group">
		@foreach (var publ in (List<DataAccess.Entities.Publisher>)ViewBag.Publishers)
		{
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<a asp-action="Index" asp-controller="Home"
				   asp-route-publisherId="@publ.Id"
				   asp-route-returnUrl="@Context.Request.Path" style="text-decoration: none; color: inherit;">
					@publ.PublisherName
				</a>
				@* <a asp-action="Delete"
		asp-route-id="@category.Id" class="btn btn-outline-danger">
		<i class="bi bi-x-square"></i>
		</a> *@
			</li>
		}
	</ul>
}
else
{
	<p class="text-center mt-4">No Publishers found yet.</p>
}
