@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to BookShell</h1>
    <h3>Here you can find and enjoy literary masterpieces of Ukrainian and foreign authors.n</h3>
</div>
