
<div>
	<h3 class="m-3">Кілька фактів про мене: </h3>
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                1. Я надзвичайно сильно полюбляю спати
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/7.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/8.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/9.jpg" class="w-50 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    2. Я боюсь грози
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/10.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/11.jpg" class="w-50 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    Зазвичай, під час грози я намагаюсь сховатись у будь якому приміщенні під накриттям і на чомусь м'якенькому. Моя сім'я завжди дає мені якесь покривало, щоб не було холодно або незручно. 
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    3. У мене є улюблений рушник.
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/12.jpg" class="w-25 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                     P.S. Він улюблений до тих пір, поки мене не несуть купати.
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    4. Я люблю лежати на травичці.
                </h4>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/13.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/14.jpg" class="w-50 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    5. І на маминій подушці(Через це мама мене не дуже любить).
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/15.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/16.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/17.jpg" class="w-50 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    6. Коли я сплю, я приймаю пози з карате, щоб всі думали, що я небезпечна.
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/18.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/19.jpg" class="w-50 rounded" />
            </div>
            <div class="col">
                <img src="~/images/20.jpg" class="w-50 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    7. Дідусь любить малювати мені брови.
                </h4>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <img src="~/images/21.jpg" class="w-25 rounded" />
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col mt-5 mb-3">
                <h4>
                    Насправді, я дуже класна і мене всі люблять. В мене навіть 
                    є особистий телеграм-канал, де друзі моєї сім'ї слідкують 
                    за моїм життям. За своє довге життя, я побувала в багатьох 
                    місцях і зі мною трапилось безліч пригод, які неможливо 
                    вмістити навіть на цілому сайті. 
                </h4>
            </div>
        </div>
    </div>
</div>