<h1 class="text-center">Галерея мого життя</h1>
<div class="container text-center">
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/22.jpg" class="w-50 rounded" />
        </div>
        <div class="col">
            <img src="~/images/23.jpg" class="w-50 rounded" />
        </div>
        <div class="col">
            <img src="~/images/24.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/25.jpg" class="w-50 rounded" />

        </div>
    </div>
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/26.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/27.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/30.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/29.jpg" class="w-50 rounded" />

        </div>
    </div>
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/31.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/32.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/33.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/34.jpg" class="w-50 rounded" />
        </div>
    </div>
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/35.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/36.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/37.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/38.jpg" class="w-50 rounded" />
        </div>
    </div>
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/39.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/40.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/41.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/42.jpg" class="w-50 rounded" />
        </div>
    </div>
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/43.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/44.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/45.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/46.jpg" class="w-50 rounded" />
        </div>
    </div>
    <div class="row row-cols-4 mt-5">
        <div class="col">
            <img src="~/images/47.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/48.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/49.jpg" class="w-50 rounded" />

        </div>
        <div class="col">
            <img src="~/images/50.jpg" class="w-50 rounded" />
        </div>
    </div>
</div>