@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаю! Я - Чібі</h1>
    <img class="w-50" src="~/images/1.jpg" />
    <h2 class ="display-4">Це сайт про мене та моє життя!</h2>
</div>
